/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #menu-btn {
    display: block;
  }
  #close-menu-btn {
    right: 50px;
    text-align: right;
  }
  .navbar {
    display: none;
  }

  .navbar.show {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding-top: 40px;
  }

  .navbar a {
    width: 80%;
    color: #000;
    margin-bottom: 30px;
  }

  #menu-btn {
    display: block;
  }
  .logo img {
    width: 150px;
    height: 40px;
  }
  /* Home */
  .home {
    width: 100%;
    height: 330px;
  }

  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.4rem;
    width: 150px;
    height: 40px;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin: 5% 2% 5% 2%;
    border: 3px solid yellow;
    padding: 2%;
  }
  .about-text h1 {
    font-size: 2rem;
    text-align: center;
  }

  .about-text p {
    color: #fff;
    font-size: 1.4rem;
  }

  .about img {
    margin: auto;
    width: 96%;
    margin-top: 30px;
  }
  .menu h1 {
    font-size: 2.2rem;
  }
  .reservation h1 {
    font-size: 2.2rem;
  }
  .reserv-card {
    display: block;
    background: transparent;
    border: 3px solid #f2d72b;
    color: #f2d72b;

    margin: 5% 2% 5% 2%;
  }

  .reserv-card img {
    height: 320px;
    width: 100%;
  }

  form input[type="submit"] {
    width: 90%;
  }

  /* Menu */
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .wrapper .carousel {
    width: 80%;
    grid-auto-columns: calc((100%));
  }
  .carousel .card {
    height: 330px;
  }

  .card img {
    width: 100%;
    height: 200px;
  }

  .card h1 {
    font-size: 1.8rem;
    color: #171010;
    font-weight: 900;
  }

  .card h2 {
    margin-top: 5px;
    font-size: 1.4rem;
  }
  .card button {
    background-color: #171010;
    color: #f2d72b;
    width: 100%;
    height: 80px;
    border-radius: 10px;
  }

  /*footer*/
  footer img {
    margin: 5px 0;
    height: 80px;
  }

  footer section {
    display: block;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row input {
    width: 85%;
  }
  .form-row select {
    width: 90%;
  }

  .openings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-align: left;
  }

  footer h1 {
    font-size: 1.6rem;
  }
  footer li {
    margin: 10px;
    font-size: 1.2rem;
    padding: 5px 5px 0 5px;
  }

  footer > section > div {
    margin-top: 20px;
  }

  .sociale > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .sociale a {
    font-size: 20px;
    width: 20px;
    margin: 20px 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .logo img {
    width: 100px;
    height: 40px;
  }
  .navbar a {
    padding: 0 10px;
    font-size: 1.4rem;
  }
  .icons {
    display: flex;
    grid-column-gap: 10px;
  }

  .icons a {
    font-size: 1.2rem;
  }

  /* Home */
  .home {
    width: 100%;
    height: 250px;
  }

  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
    width: 150px;
    height: 40px;
  }
  .about-text h1 {
    font-size: 1.6rem;
  }

  .about-text p {
    color: #fff;
    font-size: 1rem;
  }

  .about img {
    width: 50%;
    height: 350px;
  }
  .menu h1 {
    font-size: 2.2rem;
  }
  .reservation h1 {
    font-size: 2.2rem;
  }
  .reserv-card {
    width: 80%;
    height: 320px;
  }

  .reserv-card img {
    height: 320px;
    width: 100%;
  }
  form select,
  form input {
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
  }
  form input[type="submit"] {
    font-size: 1.2rem;
  }
  /* Menu */
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3));
  }
  .carousel .card {
    height: 280px;
  }

  .card img {
    width: 100%;
    height: 200px;
  }

  .card h1 {
    font-size: 1.8rem;
    color: #171010;
    font-weight: 900;
  }

  .card h2 {
    margin-top: 5px;
    font-size: 1.4rem;
  }
  .card button {
    background-color: #171010;
    color: #f2d72b;
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }

  /*footer*/
  footer img {
    width: 100px;
    height: 60px;
  }

  footer section {
    column-gap: 5px;
  }

  footer h1 {
    font-size: 1rem;
  }
  footer li {
    font-size: 0.8rem;
    margin-right: -4px;
    padding: 5px 5px 0 5px;
  }

  .sociale a {
    font-size: 20px;
    width: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar a {
    font-size: 1.7rem;
    padding: 0 20px;
  }
  .logo img {
    width: 130px;
    height: 50px;
  }
  .navbar a {
    font-size: 1.4rem;
  }
  .icons {
    display: flex;
    grid-column-gap: 10px;
  }

  .icons a {
    font-size: 1.3rem;
  }

  /* Home */
  .home {
    width: 100%;
    height: 300px;
  }

  .home h1 {
    font-size: 2.4rem;
  }

  .home p {
    font-size: 1.6rem;
  }

  button {
    font-size: 1.6rem;
    width: 180px;
    height: 50px;
  }
  .about-text h1 {
    font-size: 1.8rem;
  }

  .about-text p {
    color: #fff;
    font-size: 1.3rem;
  }

  .about img {
    width: 50%;
    height: 380px;
  }
  .menu h1 {
    font-size: 3rem;
  }
  .reservation h1 {
    font-size: 3rem;
  }
  .reserv-card {
    width: 80%;
    height: 350px;
  }

  .reserv-card img {
    height: 350px;
    width: 100%;
  }
  form select,
  form input {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3));
  }
  .carousel .card {
    height: 300px;
  }

  .card img {
    width: 100%;
    height: 200px;
  }

  .card h1 {
    font-size: 2rem;
    color: #171010;
    font-weight: 900;
  }

  .card h2 {
    margin-top: 5px;
    font-size: 1.6rem;
  }
  .card button {
    background-color: #171010;
    color: #f2d72b;
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }

  /*footer*/
  footer img {
    width: 120px;
    height: 80px;
  }

  footer section {
    column-gap: 5px;
  }

  footer h1 {
    font-size: 1.4rem;
  }
  footer li {
    font-size: 1rem;
    margin-right: -4px;
    padding: 5px 5px 0 5px;
  }

  .sociale a {
    font-size: 25px;
    width: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .about-text h1 {
    font-size: 1.8rem;
  }

  .about-text p {
    color: #fff;
    font-size: 1.5rem;
  }

  .about img {
    width: 50%;
    height: 400px;
  }
  .menu h1 {
    font-size: 3.4rem;
  }
  .reservation h1 {
    font-size: 3.4rem;
  }
  .reserv-card {
    width: 80%;
    height: 450px;
  }

  .reserv-card img {
    height: 450px;
    width: 100%;
  }
  form select,
  form input {
    width: 180px;
    height: 40px;
    font-size: 1.2rem;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4));
  }
  /*footer*/
  footer img {
    width: 200px;
    height: 100px;
  }

  footer section {
    column-gap: 20px;
  }

  footer h1 {
    font-size: 1.6rem;
  }
  footer li {
    font-size: 1.2rem;
  }

  .sociale a {
    font-size: 25px;
    width: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background-color: black;
  }
  .about-text h1 {
    font-size: 2rem;
  }

  .about-text p {
    color: #fff;
    font-size: 1.8rem;
  }

  .about img {
    width: 50%;
    height: 450px;
  }
  .menu h1 {
    font-size: 3.8rem;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4));
  }
  .reservation h1 {
    font-size: 3.6rem;
  }
  .reserv-card {
    width: 80%;
    height: 500px;
  }

  .reserv-card img {
    height: 500px;
    width: 100%;
  }
}
